html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0;
}

@media (max-width: 900px) {
    * {
        font-size: 1.5vw;
    }
    .social-menu ul li .fa {
        color: #000000;
        font-size: 2vw;
        line-height: 4vw;
        transition: .5s;
    }
    .social-menu ul li a {
        position: relative;
        display: block;
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
        background-color: white;
        text-align: center;
        transition: 0.5s;
        transform: translate(0, 0px);
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
    }
    nav {
        height: 20px;
    }
}

@media (max-width: 600px) {
    * {
        font-size: 2vw;
    }
    .social-menu ul li .fa {
        color: #000000;
        font-size: 2vw;
        line-height: 4vw;
        transition: .5s;
    }
    .social-menu ul li a {
        position: relative;
        display: block;
        width: 4vw;
        height: 4vw;
        border-radius: 50%;
        background-color: white;
        text-align: center;
        transition: 0.5s;
        transform: translate(0, 0px);
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
    }
    .size {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }
}

.accordion-button:not(.collapsed) {
    background-color: hsl(208, 78%, 86%) !important;
}

.accordion-button:focus {
    border-color: none !important;
    box-shadow: none !important;
    z-index: none !important;
}

.logo {
    height: 4vw;
    width: 5.5vw;
    min-width: 54px;
    min-height: 40px;
}

.nama {
    font-size: 4vw;
}

nav {
    height: 5%;
}

.card,
.card-header,
.card-body,
.card-footer {
    border-radius: 0px !important;
}

.icon {
    margin-top: -10px;
    margin-right: 5px;
}

footer {
    margin-top: auto;
    bottom: 0;
}

.card {
    border-radius: 0%;
}

.size {
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.social-menu ul {
    margin-top: 3vw;
    display: flex;
}

.social-menu ul li {
    list-style: none;
    margin: 0 10px;
}

.social-menu ul li .fa {
    color: #000000;
    font-size: 1.5vw;
    line-height: 3vw;
    transition: .5s;
}

.social-menu ul li .fa:hover {
    color: #ffffff;
}

.social-menu ul li a {
    position: relative;
    display: block;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    transition: 0.5s;
    transform: translate(0, 0px);
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.5);
}

.social-menu ul li a:hover {
    transform: rotate(0deg) skew(0deg) translate(0, -10px);
}

.social-menu ul li:nth-child(4) a:hover {
    background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
    background-color: #55acee;
}

.social-menu ul li:nth-child(1) a:hover {
    background-color: #e4405f;
}

.social-menu ul li:nth-child(3) a:hover {
    background-color: #cd201f;
}

.social-menu ul li:nth-child(5) a:hover {
    background-color: #0077B5;
}